/* General */
strong {
  font-weight: bold !important;
  /* font-style: italic; */
  color: red;
}
i {
  cursor: pointer;
}
.text-blue {
  color: #2185d0;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

button.submit {
  background-color: #21ba45 !important;
  color: #fff !important;
  text-shadow: none;
  background-image: none;
}

.error {
  background: #fff6f6 !important ;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
  border-radius: "" !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fs-1 {
  font-size: 1.5em !important;
}

.d-inline-block {
  display: inline-block !important;
}
.d-none {
  display: none !important;
}

.notify-red {
  color: red;
  font-style: italic;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.8; /* Firefox */
  font-style: italic;
  font-size: 11pt;
}

.sub-title {
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.6);
}
/*  */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff3ba;
}
/* Style scroll */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #fff3ba;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #fff3ba;
}
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f8be87;
}
/* End */
.text-center {
  text-align: center !important;
}
.ui.steps .step {
  padding: 0.7rem 1rem;
  font-size: 11pt;
}
.ui.steps:not(.vertical) .step > .icon {
  font-size: 15pt;
}
div.wrapper-page {
  width: 100%;
  /* background: url(../img/bg-table-music.png); */
}
div.container-header {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 120px;
  box-shadow: 5px 5px 5px #adaaa859;
}

div.container-header img.logo {
  margin: 0 auto;
}
div.container-content {
  width: 100%;
  background: url(../img/bg-table-music.png);
}
div.slogan-page {
  height: 20px;
  margin-top: 0.5rem;
}
div.slogan-page h1 {
  font-family: "Dancing Script", cursive;
  font-size: 20pt;
}
/* div.slogan-page div.content-slogan > div {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #339d40;
} */
div.wrapper-content {
  width: 73%;
  margin: 0 auto;
  /* background: url(../img/bg-table-music.png); */
}

div.wrapper-header {
  overflow: auto;
}
div.wrapper-header div:first-child {
  float: right;
  padding: 1rem;
}

/* Begin Style Mode 1 */
div.wrapper-content div.wrapper-content-mode1 {
  width: 100%;
}
div.wrapper-content div.wrapper-content-mode1 div.content {
  width: 80%;
  margin: 0 auto;
}
div.wrapper-content
  div.wrapper-content-mode1
  div.content
  table.table-list-song {
  background: transparent;
  margin-top: 0;
}
div.wrapper-content
  div.wrapper-content-mode1
  div.content
  table.table-list-song
  thead
  tr
  th {
  background: rgb(199, 124, 47);
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(190, 100, 9, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  ); */
}

table.table-list-song thead tr th:nth-child(2) {
  text-align: right;
}
table.table-list-song tbody tr td:nth-child(1) {
  width: 50%;
}
table.table-list-song tbody tr td:nth-child(2) {
  width: 38%;
}
table.table-list-song tbody tr td:nth-child(3) {
  width: 12%;
}
table.table-list-song tfoot {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(219, 180, 115, 1) 0%,
    rgba(239, 241, 197, 1) 100%
  );
}
i.next {
  float: right;
}
i.next,
i.previous {
  color: green;
  font-size: 16pt;
}

/* End Style Mode 1 */

/* Begin Style Mode 2 */
div.wrapper-content div.wrapper-content-mode2 {
  width: 100%;
}
div.wrapper-content div.wrapper-content-mode2 div:first-child {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
div.wrapper-content div.wrapper-content-mode2 div.content {
  width: 100%;
  margin: 0 auto;
}
div.wrapper-content div.wrapper-content-mode2 div.content {
  display: grid;
  grid-template-columns: 50% 50%;
}

div.wrapper-content div.wrapper-content-mode2 div.content div.comment-facebook {
  max-height: 620px;
  overflow: auto;
  background-color: #fff3ba;
  border-radius: 0.5rem;
}

div.comment-facebook::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff3ba;
}

div.comment-facebook::-webkit-scrollbar {
  width: 10px;
  background-color: #fff3ba;
}
div.comment-facebook::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff3ba;
}

div.wrapper-content-mode2
  div.content
  div.content-left
  table.table-list-song-gift
  thead
  tr
  th,
div.wrapper-content-mode2
  div.content
  div.content-left
  table.table-list-song-gift
  tfoot {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(207, 124, 46, 1) 0%,
    rgba(232, 209, 169, 1) 100%
  );
}
div.wrapper-content-mode2
  div.content
  div.content-left
  table.table-list-song-gift
  tbody {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(227, 213, 140, 1) 0%,
    rgba(252, 247, 216, 1) 100%
  );
}
table.table-list-song-gift tbody tr td:nth-child(1) {
  width: 45%;
}
table.table-list-song-gift tbody tr td:nth-child(2) {
  width: 35%;
}
table.table-list-song-gift tbody tr td:nth-child(3) {
  width: 18%;
}
i.info-gift {
  font-style: italic;
  font-size: 11pt;
}
i.next-gift {
  float: right;
}
i.next-gift,
i.previous-gift {
  /* color: cornflowerblue; */
}
/* End Style Mode 2 */
/* Style clock */
#clockdiv {
  font-family: "Dancing Script", cursive;
  color: #fff;
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 15pt;
  margin: 25px auto;
}

#clockdiv > div {
  padding: 8px;
  border-radius: 3px;
  background: #976e31;
  display: inline-block;
}

#clockdiv div > span {
  padding: 10px;
  border-radius: 3px;
  font-size: 16pt;
  background: #ce8314;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 10pt;
}
/* Style clock */
h1.text-countdown {
  display: inline-block;
  font-family: "Special Elite", cursive;
  color: #5ca17c; /*non-webkit fallback*/
  font-size: 32pt;
  text-transform: uppercase;
  background-image: linear-gradient(
    to bottom,
    #26bda6,
    #ff9f65,
    #ded37e,
    #26bda6
  );
  background-size: auto 250%;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0 100%;
  padding-left: 90px;
  padding-top: 10px;
}
h1.text-countdown:hover {
  background-position: 0 0;
  cursor: pointer;
}

/* Dành cho điện thoại */
@media all and (max-width: 480px) {
  div.container-header {
    width: 100%;
  }
  .group-responsive-none {
    display: none !important;
  }

  div.wrapper-content div.wrapper-content-mode2 div.content {
    display: grid !important;
    grid-template-columns: 100% !important;
  }
  div.content-left {
    width: 100% !important;
  }
  div.content-right {
    width: 100% !important;
  }
}
