body {
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
  background-image: url("../img/hinh-nen-tet.jpg");
}
.text-center {
  text-align: center !important;
}
.ui.steps .step {
  padding: 0.7rem 1rem;
  font-size: 11pt;
}
.ui.steps:not(.vertical) .step > .icon {
  font-size: 15pt;
}
div.wrapper-page {
  width: 100%;
}
div.container-header {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 120px;
  box-shadow: 5px 5px 5px #adaaa859;
}

div.container-header img.logo {
  margin: 0 auto;
}
div.slogan-page {
  height: 130px;
  margin-top: 1rem;
}
div.slogan-page h1 {
  font-family: "Dancing Script", cursive;
  font-size: 18pt;
}
div.slogan-page div.content-slogan > div {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #339d40;
}
div.wrapper-content {
  width: 70%;
  margin: 0 auto;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 70% 30%;
}
div.wrapper-content div.content-left {
  border: 1px solid #339d40;
  padding: 1rem;
}
/* Style clock */
#clockdiv {
  font-family: "Dancing Script", cursive;
  color: #fff;
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 15pt;
  margin: 25px auto;
}

#clockdiv > div {
  padding: 8px;
  border-radius: 3px;
  background: #976e31;
  display: inline-block;
}

#clockdiv div > span {
  padding: 10px;
  border-radius: 3px;
  font-size: 16pt;
  background: #ce8314;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 10pt;
}
/* Style clock */
h1.text-countdown {
  display: inline-block;
  font-family: "Special Elite", cursive;
  color: #5ca17c; /*non-webkit fallback*/
  font-size: 32pt;
  text-transform: uppercase;
  background-image: linear-gradient(
    to bottom,
    #26bda6,
    #ff9f65,
    #ded37e,
    #26bda6
  );
  background-size: auto 250%;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0 100%;
  padding-left: 90px;
  padding-top: 10px;
}
h1.text-countdown:hover {
  background-position: 0 0;
  cursor: pointer;
}
